
.container{
    background-color: rgb((red), green, blue);
    border: 30px solid rgb(64, 6, 119);
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
    /* padding-left: 100px; */
    /* padding-rig ht: 100px; */
    /* padding/margin :top right bottom left*/
    /* padding : 23px 34px 44px 55px; */
    /* padding : y(top/bottom) x(left/right); */
    /* padding : 23px 45px; */
    padding : 44px;
    margin : 34px;
    border-radius: 20px;
    width : 233px;
    height: 500px;
    box-sizing: border-box;
    overflow: scroll;
}
offset-top - parent to border
/* offset-left - parent to border */
offset height 
client-top - top border height
client-left - left border with scroll bar width
client-width - padding + content - scrollbar 
client-height - padding + content height
scroll-width - content + padding 
scroll-height - outer/hidden height + inner/element height
scroll-left/top - hidden part of content 
scroll-